/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Old+Standard+TT&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Old Standard TT", Garamond, serif;
    --secondary-font: "Montserrat", Tahoma, sans-serif;
    --primary-color: #F8EDE3;
    --primary-color-font: #AD8B73;

}

/* Global Styles */

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Add font styles */



/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

.nav-link,
.navbar-brand  {
    color: var(--primary-color-font);
    font-family: var(--primary-font);
}

#navbar .logo {
    width: 100px;
}

/* Carousel */
#carousel-text {
    font-size: 1.5rem;
    font-family: var(--primary-font);
    color: var(--primary-color-font);
}

/* Services */
.card-title {
    font-family: var(--primary-font);
}

.card-text {
    font-family: var(--secondary-font);
}

#services .card {
    margin-bottom: 2rem;

}

/* Media Queries */

/* Large devices (992px and up)  */
@media screen and (min-width: 992px) {
    #services .card-body {
        min-height: 240px;
    }
}

/* Extra large devices (1200px and up) */
@media screen and (min-width: 1200px) {
    #services .card-body {
        min-height: 419px;
    }
}

/* Extra extr large devices (1400px and up) */
@media screen and (min-width:1400px) {
    #services .card-body {
        min-height: 390px;
    }
}