/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Old+Standard+TT&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Old Standard TT", Garamond, serif;
    --secondary-font: "Montserrat", Tahoma, sans-serif;
    --primary-color: #F8EDE3;
    --secondary-color: #AD8B73;
    --highlight-color: #c5705D;
    

    



}

/* Global Styles */

body {
    font-family: var(--secondary-font);
    padding-top: 120px; /* This padding pushes the carousel down under the fixed navbar */
}


.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Add font styles */



/* Buttons */

.custom-button-filled {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.custom-button-filled:hover {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

/* Navbar */
 #navbar {
    background-color: var(--primary-color) !important;  
}

#navbar .logo {
    width: 100px;
}

.nav-link,
.navbar-brand  {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

.nav-link:hover {
    color: var(--highlight-color)
}

.active {
    font-weight: 600;
    color: var(--secondary-color) !important;
}

#burger-icon {
    color: var(--secondary-color);
}

/* Bootstrap Burger Icon NavBar Colour Change (Coding Year) */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rosybrown'  stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler {
    border: 2px solid var(--secondary-color);
}






/* Carousel */
#carousel-text {
    font-size: 1.5rem;
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

/* About me */

/* Services */
.card-title {
    font-family: var(--primary-font);
}

.card-text {
    font-family: var(--secondary-font);
}

#services .card {
    margin-bottom: 2rem;

}

/* Testimonials */
.testimonal-card {
    margin: 10px; 
}

/* Media Queries */

/* Large devices (992px and up)  */
@media screen and (min-width: 992px) {
    #services .card-body {
        min-height: 240px;
    }
}

/* Extra large devices (1200px and up) */
@media screen and (min-width: 1200px) {
    #services .card-body {
        min-height: 419px;
    }
}

/* Extra extr large devices (1400px and up) */
@media screen and (min-width:1400px) {
    #services .card-body {
        min-height: 390px;
    }
}