/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Old+Standard+TT&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Old Standard TT", Garamond, serif;
    --secondary-font: "Montserrat", Tahoma, sans-serif;
    --primary-color: #F8EDE3;
    --secondary-color: #AD8B73;
    --highlight-color: #c5705D;    
}

/* Global Styles */
body {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    padding-top: 120px; /* This padding pushes the carousel down under the fixed navbar */
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Buttons */
.custom-button-filled {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.custom-button-filled:hover {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

.custom-button-outline {
    border: 2px solid var(--highlight-color);
    padding: 10px 17px;
    color: var(--highlight-color);
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

/* Navbar */
 #navbar {
    background-color: var(--primary-color) !important;  
}

#navbar .logo {
    width: 100px;
}

.nav-link,
.navbar-brand  {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

.nav-link:hover {
    color: var(--highlight-color)
}

.active {
    font-weight: 600;
    color: var(--secondary-color) !important;
}

#burger-icon {
    color: var(--secondary-color);
}

/* Bootstrap Burger Icon NavBar Colour Change (Coding Year) */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rosybrown'  stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler {
    border: 2px solid var(--secondary-color);
}

/* Controls for both Images Carousel and Testimonials Carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--highlight-color);
} 

/* Carousel */
#carousel-text {
    font-family: var(--primary-font);
    font-size: 1.5rem;
} 

/* About me */
#aboutme-header {
    padding: 0.5rem 0;
}

#about-me .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#about-me img {
    width: 100%;
    height: auto;
}

/* Styling for both Services cards and testiomal cards */
div.card {
    border: 0px solid var(--primary-color);
    padding-top: 1rem;
}

div.card-body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Services */
 #services {
    padding: 2rem 0;
}

h2.display-6 {
    padding: 1rem 0;
}

#services .card {
    margin-bottom: 4rem 0;
}

#services div.card-body {
    padding-top: 3rem;
}

/* Testimonials */
#testimonials p.card-text {
    font-family: var(--secondary-font);
} 

#testimonials div.card-body {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Form */

.form-label {
    padding-top: 1rem;
}

/* Footer */
#contact {
    background-color: var(--primary-color);
    padding-bottom: 2rem;
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 8px;
}

#contact .social-media i {
    font-size: 2rem;
    padding: 1rem 3rem;
}

#contact .social-media i:hover {
    color: var(--highlight-color);
}

#opening-times * {
    background-color: transparent;
    color: var(--secondary-color);
}

/* Success Message Page */
#success-message {
    padding-top: 3rem;
    padding-bottom: 6rem;
}

/* Media Queries */

/* Medium devices (768px and up) */
@media screen and (min-width: 768px) {
    #services .card-body {
        min-height: 286px;
    }
    #testimonials .card-body {
        min-height: 255px;
    }
}

/* Large devices (992px and up) */
@media screen and (min-width: 992px) {
    #services .card-body {
        min-height: 240px;
    }
}

/* Extra large devices (1200px and up) */
@media screen and (min-width: 1200px) {
    #services .card-body {
        min-height: 419px;
    }
}
/* Extra extra large devices (1400px and up) */
@media screen and (min-width:1400px) {
    #services .card-body {
        min-height: 390px;
    }
}